* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	font-size: 20px;
	font-family: 'Noto Sans';
	color: white;
	overflow: hidden;
	background: url("assets/bggradient.png");
	background-size: cover;
}

.flex {
	display: flex;
	height: 100%;
}

.flex-down {
	flex-direction: column;
}

#topbar {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	background: rgba(0, 0, 0, 0.6);
}

.topbar-main {
	display: flex;
	height: 100%;
}

#channels, #chat-area {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#channels {
	width: 20%;
	background: rgba(0, 0, 0, 0.6);
}

#messages {
	position: absolute;
	top: 10%;
	left: 200px;
	right: 0;
	bottom: 8%;
	overflow-y: scroll;
}

#channels {
	display: flex;
	text-align: left;
}

#channels ul {
	margin: 5px;
}

#channels {
	width: 200px;
}

#topbar-content {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

#roomber-logo {
	height: initial;
	margin: 4px;
	object-fit: contain;
}

#login {
	align-self: center;
	padding: 10px;
	display: flex;
	align-items: center;
}

#login p {
	margin-right: 20px;
}

#login img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

#message-box {
	padding: 4px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 202px;
	max-height: 7%;
}

#message-box .message-input {
	display: flex;
	width: 100%;
	height: 100%;
}

.button {
    background: #1B1B1B;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    transition: 0.5s background;
    color: white;
    padding: 6px;
    background: rgba(0,0,0,0.4);
}

.megasmall {
	transform: scale(80%);
}

.button:hover {
    background: rgba(0,0,0,0.5);
}

#message {
	flex: 1;
	width: 80%;
	margin-right: 10px;
	padding: 5px;
	font-size: 18px;
	opacity: 0.8;
	transition: 1s opacity;
	background: transparent;
	color: white;
	background: rgba(0,0,0,0.3);
	border-radius: 4px;
}

#message:hover {
	opacity: 1.0;
}

.message {
	margin: 5px;
	position: relative;
	border-radius: 6px;
	padding: 5px;
}

.glass {
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(8px);
	outline: 1px solid rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.2);
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.username {
	font-weight: bold;
	color: white;
	padding: 2px 4px;
	font-size: 120%;
	border-radius: 4px;
	margin: 0 5px 0 0;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.2);
}

.avatar {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.1);
	margin-right: 10px;
}

.timestamp {
	font-size: 14px;
	margin: 10px 2px;
	opacity: 0.7;
	justify-self: flex-end;
}

.msg {
	width: 100%;
}

.msg-flex {
	flex: 1;
}

.msgln {
	word-wrap: break-word;
	word-break: break-all;
}

.message .horizontalMenu {
	justify-self: flex-end;
	align-self: flex-start;
	margin: 6px;
	transition: 0.25s width, 0.25s opacity;
	opacity: 0;
	width: 0;
}

.message:hover .horizontalMenu {
	opacity: 1;
	width: fit-content;
}

.message .horizontalMenuItem {
	display: none;
}

.message:hover .horizontalMenuItem {
	display: flex;
}

.textbox {
	background: rgb(32, 32, 32);
	color: #C7C7C7;
	margin-top: 14px;
	padding: 6px;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 6px;
}

#loading-back {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	backdrop-filter: blur(20px);
	z-index: 10;
}

#loading-image img {
	width: 120px;
	height: 120px;
	animation: spin 4s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-60px 0 0 -60px;
	mask-image: url("assets/roomber-outline.png");
	background: linear-gradient(to top, rgba(0,149,186,1) 0%, rgba(155,52,186,1) 70%);
}

@keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform:rotate(360deg); 
	} 
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#fun-fact-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 120px;
	font-size: 32px;
}

#fun-fact-title {
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 10px;
}

#fun-fact {
	font-size: 25px;
	opacity: 0.9;
	text-align: center;
	margin-top: 10px;
}

#messages::-webkit-scrollbar {
	width: 1em;
}

#messages::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: rgba(0,0,0,0.3);
	backdrop-filter: blur(10px);
}

#messages::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.5);
	border: 5px solid transparent;
	padding: 2px;
	border-radius: 11px;
}

#messages::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,0.2);
}

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}}
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}}
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}}
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}}