<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roomber a4</title>
    <meta content="Roomber" property="og:title" />
    <meta content="Roomber is a messaging webapp that is currently in a lot of development and this is one of it's early, unreleased versions!" property="og:description" />
    <!--<meta content="" property="og:url" />-->
    <meta content="../assets/roomber-logo.png" property="og:image" />
    <meta content="#9b34ba" data-react-helmet="true" name="theme-color" />

    <script src="js/utilities.js"></script> <!-- THIS HAS TO BE BEFORE EVERY SCRIPT!! -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="components/setup.css">
    <link rel="stylesheet" href="components/popup.css">
    <link rel="stylesheet" href="components/horizontalMenu.css">
    <link rel="stylesheet" href="twemoji-amazing.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="js/fun.js"></script>
</head>

<body>
    <div id="loading-back">
        <img alt="" src="assets/roomber-logo.png" id="loading-image">
        <div id="fun-fact-container">
            <p id="fun-fact-title">Did you know</p>
            <p id="fun-fact"></p>
        </div>
        </div>

    <!--<div id="disconnected">
        Disconnected.
    </div>-->
    <div class="topbar-main flex-down">
        <div id="topbar" class="glass">
            <div id="topbar-content">
                <img id="roomber-logo" src="assets/roomber-logo.png">
                <!-- lets go we finally have other stuff -->
                <div id="login">
                    <img src="avatars/default.png" alt="">
                    <p class="username">User</p>
                    <button id="logout" class="button"><i class="material-icons">exit_to_app</i></button>
                </div>
            </div>
        </div>
        <div class="flex">
            <div id="channels" class="glass">
                <ul>
                    <li>#breakingnews</li>
                    <li>#talkie</li>
                    <li>#memes</li>
                </ul>
            </div>
            <div id="chat-area">
                <div id="messages">
                    <!-- initially empty -->
                    <!--<i class="twa twa-flushed"></i>-->

                    
                    <div class="message glass" id="nekcool">
                        <div class="flex">
                            <img src="https://cdn.discordapp.com/avatars/593755503339765781/27954891179df97c93c3598fbf275b72.webp?size=100" class="avatar">
                            <div class="flex msg">
                                <div class="flex-down msg-flex">
                                    <div class="username">neksodebe</div><div class="xtraBadge"><span>xtra</span></div>
                                    <div class="msgln">Soo, I made this</div>
                                </div>
                                <div class="timestamp"></div>
                            </div>
                        </div>
                    </div>

                    <div class="message glass" id="vbnvbnvbnvbn">
                        <div class="flex">
                            <img src="https://cdn.discordapp.com/attachments/881974256949395517/910165921681776681/i_pinimg_com_2021-10-25_00-31-23.jpg" class="avatar">
                            <div class="flex msg">
                                <div class="flex-down msg-flex">
                                    <div class="username">SomeEver</div><div class="xtraBadge"><span>xtra</span></div>
                                    <div class="msgln">I made it too!</div>
                                </div>
                                <div class="timestamp"></div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="message glass" id="werwerwerwer">
                        <div class="flex">
                            <img src="https://cdn.discordapp.com/avatars/414530592206487572/ada0e6c7cbf5c62ba9d5b54a6ec3d4d7.webp?size=100" class="avatar">
                            <div class="flex msg">
                                <div class="flex-down msg-flex">
                                    <div class="username">OlxsiU</div><div class="xtraBadge"><span>xtra</span></div>
                                    <div class="msgln">And I helped with the graphics!</div>
                                </div>
                                <div class="timestamp"></div>
                            </div>
                        </div>
                    </div>

                    <div class="message glass" id="gfhfghfghfghfgh">
                        <div class="flex">
                            <img src="http://cdn.shopify.com/s/files/1/1061/1924/products/Poop_Emoji_7b204f05-eec6-4496-91b1-351acc03d2c7_grande.png?v=1571606036" class="avatar">
                            <div class="flex msg">
                                <div class="flex-down msg-flex">
                                    <div class="username">Princeanonymous</div>
                                    <div class="msgln">and i got fired</div>
                                </div>
                                <div class="timestamp"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="message-box" class="glass">
                    <div class="message-input">
                        <input id="message" class="glass" placeholder="Message" autocomplete="off" />
                        <button id="send" class="button"><i class="megasmall material-icons">send</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="setup-container"></div>

    <script src="js/client.js"></script>
</body>

</html>