.horizontalMenu {
	z-index: 4;
	background: rgba(27,27,27,0.5);
	border-radius: 4px;
	backdrop-filter: blur(30px);
	display: grid;
	grid-template-columns: auto auto auto;
}
.light .horizontalMenu {
	background: rgba(27,27,27,0.2);
}
.horizontalMenuItem {
	width: 22px;
	height: 22px;
	background: red;
	margin: 4px;
	background: rgba(27,27,27,0.7);
	border-radius: 4px;
	border: 1px solid rgba(255,255,255,0.1);
	align-items: center;
	justify-content: center;
	transition: 0.25s background;
}
.light .horizontalMenuItem {
	background: rgba(255,255,255,0.7);
	border: 1px solid rgba(0,0,0,0.1);
}
.horizontalMenuItem:hover {
	background: rgba(38,38,38,0.7);
}
