#minAdminPanel {
  background-color: rgba(0,0,0,0.4);
  z-index: 5;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(10px);
  padding: 4px;
  padding-right: 8px;
}
#minAdminPanel button {
  width: 80%;
  margin-bottom: 10px;
}
#minAdminPanel .close {
  cursor: pointer;
}
#minAdminPanel:hover {
  background-color: rgba(0,0,0,0.5);
}
#minAdminPanel .titlebar {
  margin: 10px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  cursor: move;
}
#minAdminPanel .title {
  display: flex;
}
