#minAdminPanel {
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  position: absolute;
  height: 500px;
  width: 200px;
  background-color: rgba(255,255,255,0.4);
  z-index: 5;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
}

#minAdminPanel:hover {
  background-color: rgba(255,255,255,1);
}

#minAdminPanel .close {
  top: 5px;
  left: 5px;
  color: black;
  font-size: 1rem;
}